.cards-wrapper {
    padding-bottom: 15vh;
}

.fixed-controls {
    position: fixed;
    width: 100vw;   
    background-color: #6AA76F;
    box-sizing: border-box;
}

.down {
    bottom: 0;
    padding-bottom: 1rem;
}

.up {
    top: 0;
    padding-top: 1rem;
}

.fixed-top-aux-padding {
    padding-top: 10vh;
}