.map-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .map {
    width: 100vh;
    height: 100vh;
  }
  
  .map-btn {
    position: absolute;
    left: 49vh;
    top: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
  
  }

